version: "3.8"

services:
  springapp:
    image: rihab26/achatdevops
    container_name: achatdevops
    restart: on-failure
    ports:
      - "8089:8089"
    networks:
      - springmysql-net
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/achatdb?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    depends_on:
      - mysqldb

  mysqldb:
    image: mysql:8
    networks:
      - springmysql-net
    container_name: mysqldb
    environment:
      - MYSQL_DATABASE=achatdb
      - MYSQL_USERNAME=root
      - MYSQL_ALLOW_EMPTY_PASSWORD=1



networks:
  springmysql-net:
                  