version: '3'
services:
  mysqldb:
    container_name: mysqldb
    image: mysql:latest
    ports:
     - 3306:3306
    environment:
     - MYSQL_USERNAME=root
     - MYSQL_PASSWORD=pass
     - MYSQL_ROOT_PASSWORD=pass 
     - MYSQL_DATABASE=achatdb 

  back: 
    image: applicationback
    container_name: applicationback
    ports:
      - 8089:8089
    depends_on:
      - mysqldb